extends ../shared/layouts/centered

block content
  h3= title
  h5 Log In

  form(method="POST", novalidate).needs-validation
    .form-group
      input(type="email", name="email", placeholder="Email", required).form-control
      .invalid-feedback.text-left
        span Email is required
    .form-group
      input(type="password", name="password", placeholder="Password", required).form-control
      .invalid-feedback.text-left
        span Password is required
    button(type="submit").btn.btn-success.btn-block Log In

  .row.px-1.mt-2
    .col-6.text-left
      a(href="#").text-secondary Forgot Password?
    .col-6.text-right
      span.text-secondary New User? #[a(href="/user/register") Sign Up]

block scripts
  script(src="/js/forms.validation.js")
